# Byte-compiled / optimized / DLL files
**/__pycache__/


# Unit test / coverage reports
**/.pytest_cache/


# Jupyter Notebook
**/.ipynb_checkpoints

# word docs
**/*.docx

# google docs
**/*.gdoc


# Glove embeddings files
**/glove*

# ipynb used to mannage git repo in colab
git_repo_manager.ipynb

# large data files
**/bigPatentData/
**/bigPatentPreprocessedData/

#Tensorboard runs
**/runs*

#save models
**/saved_models*

#log files
**/logs*

#MLOps folder things to ignore
**/Data/
**/SavedModels/

#WandB files
**/wandb/
