# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
.pytest_cache/

# Glove embeddings files
glove*

# google docs
*.gdoc